<h1>here is my profile page(information)</h1>
<%= @user.name %><br><br>
<%= @user.age %> <br><br>
<%= @user.follower_name %><br><br>
<%= @user.email %> <br><br>
<%= @user.password_digest%> <br><br>
<%= image_tag @user.avatar %>