
<h1>hey, welcome to my post's new page</h1>
<%= form_for(@post) do |f|  %>

    <%= f.label :review %>
    <%= f.text_area :review  %><br><br>

	<%= f.label :likes %>
	<%= f.text_field :likes  %><br><br>

	<%= f.label :post_datetime %>
    <%= f.text_field :post_datetime %><br><br>

    <%= f.label :avatar %> 
    <%= f.file_field :avatar %><br><br>

    <%= f.label :product_name %>
    <%= f.collection_select :product_id, Product.all, :id, :name %><br><br>

    <%= f.label :category_name %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %><br><br>
    <%= f.submit 'Submit'%><br><br>

<% end %>
