<h1>product show page</h1>
<%= @product.name %> <br><br>
<%= @product.brand.name %><br><br>
<% @product.posts.each do |post| %> 
  <%= post.user.name %><br><br>
  <%= post.user.age %> <br><br>
  <%= post.review %><br><br>
<% end %>

<%= form_tag product_path(@product.id), method: "delete" do %>
  <%= submit_tag "Delete #{@product.name}" %>
<% end %>

<%= render "text" %>